<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ligler Listesi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="ligler-sayfasi">
    <header>
        <h1>Ligler Listesi</h1>
    </header>
    <div class="ligler">
        <nav>
            <a href="/">Ana Sayfa</a>
            <a href="/ligler">Ligler</a>
            <a href="/canlımaclar">Canlı Maçlar ve Takımlar </a>
            <a href="/yasalbahis">Yasal Bahis</a>
            <a href="/discord">İletişim</a>
        </nav>
        <div class="container">
            <h2>Ligler</h2>
            <h1>Burada liglerin listesi bulunmaktadır.⬇️⬇️</h1>
            
            <h1>Premier Lig</h1>

            <a href="https://tr.wikipedia.org/wiki/Premier_League" >Premier Lig
                


            </a>
            <h1>La Liga</h1>
            <a href="https://tr.wikipedia.org/wiki/La_Liga" >La Liga
                

            </a>
            <h1>Seria</h1>
            <a href="https://tr.wikipedia.org/wiki/Serie_A" >Seria A
            

            </a>

            <h1>Bundesliga</h1>
            <a href="https://tr.wikipedia.org/wiki/Bundesliga" >Bundesliga
                

            </a>

            <h1>Ligue 1</h1>
            <a href="https://tr.wikipedia.org/wiki/Ligue_1" >Ligue 1
            

            </a>

            <h1>Major League Soccer - (MLS) </h1>
            <a href="https://tr.wikipedia.org/wiki/Major_League_Soccer" >Major League Soccer - (MLS) 
                



            </a>
            <h1>Campeonato Brasileiro Série A</h1>
            <a href="https://tr.wikipedia.org/wiki/Série_A_(Brezilya)" > Campeonato Brasileiro Série A
                


            </a>
            <h1>Argentine Primera División</h1>
            <a href="https://tr.wikipedia.org/wiki/Primera_División_(Arjantin)" > Argentine Primera División
                


            </a>
            
            <h1>Eredivisie</h1>
            <a href="https://tr.wikipedia.org/wiki/Eredivisie" > Eredivisie
                



            </a>
            <h1>Primeira Liga</h1>
            <a href="https://tr.wikipedia.org/wiki/Primeira_Liga" >Primeira Liga
                

            </a>
            <h1>Saudi Pro League</h1>
            <a href="https://tr.wikipedia.org/wiki/Devrî%27l-Muhterifin_es-Suudî" >Saudi Pro League
                
            </a>
            <h1>Chinese Super League (CSL)</h1>
            <a href="https://tr.wikipedia.org/wiki/Chinese_Super_League" >Chinese Super League (CSL)
                


            </a>
            <h1>J1 League</h1>
            <a href="https://tr.wikipedia.org/wiki/J1_League" >J1 League



                
            </a>
            <h1>Russian Premier League</h1>
            <a href="https://en-m-wikipedia-org.translate.goog/wiki/Russian_Premier_League?_x_tr_sl=en&_x_tr_tl=tr&_x_tr_hl=tr&_x_tr_pto=tc" > Russian Premier League




            </a>
            <h1>Süper Lig</h1>
            <a href="https://tr.wikipedia.org/wiki/Süper_Lig" > Süper Lig
    



            </a>
        
        

            </div>
        <ul id="ligler-listesi"></ul>
    </div>
    <footer>
        <h6>&copy; 2025 Topunpeşinde.com.tr</h6>
    </footer>
</body>
</html>
``